.sidebar {
  width: 220px;
}

.menu {
  list-style-type: none;
}

.menu > li {
  padding: 10px 15px; 
  color: #A0A0A0;
  align-items: center;
  display: flex;
  font-size: 12px;
}

.menu > li > span {
  align-items: center;
  display: flex;
  margin-right: 20px;
}

.menu > li:hover {
  cursor: pointer;
  background: #2A36A4;
  color: #fff;
}

.menu > li:nth-child(1) {
  background: #2A36A4;
  color: #fff;
}

.menu > li:nth-child(8) {
  padding-top: 10px;
  border-top: 1px solid #DFE0EB;
}

.mainMenu {
  padding-top: 150px;
}

.mobileMenu {
  display: none;
  
}

.closeBtn, .menuBtn {
  font-size: 25px;
  cursor: pointer;
}

.mobileContainer {
  background-color: #fff;
}

@media only screen and  (max-width: 800px) {
  .mainMenu {
    display: none;
  }
  
  .mobileMenu {
    display: block;
    
  }
}