.App {
  display: flex;
}


.mainPage {
  background: #F5F5FB;
  padding: 50px;
  
}

.custom-topBar {
  color: rgba(56, 47, 144, 0.6);
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: end;
  align-items: center;
}

.custom-topBar > p {
  margin-left: 20px;
}

.custom-header {
  color: #382F90;
  font-size: 28px;
  font-weight: 600;
  padding-top: 50px;
}

.custom-text {
  color: rgba(56, 47, 144, 0.6);
  font-weight: 500;
  padding-bottom: 30px;
  padding-top: 5px;
}

.custom-form {
  background: #fff;
  padding: 45px;
}

.custom-col {
  padding: 0 25px 25px;
  color: #000000;
  font-weight: 400;
}

.custom-label1 {
  color: #382F90;
  font-weight: 500;
  font-size: 20px;
  padding: 10px 0;
}

.custom-row {
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 25px;
} 

.custom-label2 {
  color: #9FA2B4;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 0;
}

.custom-submitBtn {
  margin-top: 40px;
  background: #382F90;
  color: #fff;
  border: none;
  display: flex;
  margin-left: auto;
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 10px;
  margin-right: 60px;
}

@media only screen and  (max-width: 991px) {
  .custom-submitBtn {
    margin-right: 0px;
  }
} 

@media only screen and  (max-width: 900px) {
  .custom-header {
    font-size: 21px;
  }
  
  .custom-text {
    font-size: 14px;
  }
} 


@media only screen and  (max-width: 800px) {
  .side {
    position: fixed;
    top: 7%;
    left: 3%;
    z-index: 100;
  }
} 

@media only screen and  (max-width: 550px) {
  .custom-header {
    font-size: 17px;
    padding-top: 20px;
  }
  
  .custom-text {
    font-size: 11.5px;
    padding-bottom: 10px;
  }
}

@media only screen and  (max-width: 400px) {
  .custom-topBar > p {
    margin-left: 15px;
    font-size: 13.5px;
  }

  .custom-topBar {
    justify-content: center;
    margin-top: 1px;
  }
  
}



@media only screen and  (max-width: 350px) {
  .mainPage {
    padding: 5px;
    padding-top: 45px;
  }

  .custom-form {
    padding: 5px;
  }

  .App {
    font-size: 70%;
  }
  
} 


